---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - message: We use Dumun in all our endeavours. They offer an unparalleled service when it comes to painting and siding.
    image: "https://placekitten.com/g/60/60?a=.png"
    name: Joice Harold
  - message: Dumun are the best of the best. Being local, they care about people and have strong ties to their customers.
    image: "https://www.fillmurray.com/60/60?a=.png"
    name: Kyle Rail
  - message: Dumun were everything we could have hoped for when buying our first home and upgrading it. Highly recommended to all.
    image: "https://placebear.com/60/60?a=.png"
    name: D. and G. Gibbleston
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
	<p>This is the <strong>Dumun</strong> template from <a href="https://cloudcannon.com/">CloudCannon</a>. Dumun is strong team for construction business. We do painting, tailing and siding</p>

	<p>Dumun Painting is professional construction team. Practicing for over 4 years, our team have the knowledge and skills to get you results.</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
